body{
    margin: 0%;
    background-color:hsla(50, 33%, 25%, .75);
    background-size: auto;
    height: auto;

}

.body {
    background-color: hsla(50, 33%, 25%, .75);
    height: auto;
}

.welcome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-family: 'Franklin Gothic Medium';
    align-self: center;
    padding-top: 15%;
    /* padding-top: 15%;
    padding-left: 35%; */
    
}

.welcome-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
}

.landing{
    display: grid;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-columns: 200px 1fr 1fr 200px;
}

.child{
    /* border-left: 3px solid black; */
    font-style: italic;
    font-family: cursive;
}

.child-1{
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    text-align: center;
    padding-top: 20%;
}

.child-2{
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    text-align: center;
    padding-top: 20%;
}

.child-3{
    border-right: 1px solid white;
    border-top: 1px solid white;
    text-align: center;
    padding-top: 30%;
}

.child-4{
    border-left: 1px solid white;
    border-top: 1px solid white;
    text-align: center;
    padding-top: 30%;
}


#kitchen-tile{
    grid-row: 2;
    grid-column: 2;
}

#recipebook-tile{
    grid-row: 2;
    grid-column: 3;
}

#readytogo-tile{
    grid-row: 3;
    grid-column: 2;
}

#findrecipe-tile{
    grid-row: 3;
    grid-column: 3;
}



.main-header {
    padding-left: 5%;
    padding-top: 2%;
    background-color: hsla(50, 33%, 25%, .75);
    color: antiquewhite;
}


.intro-text {
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
}



.finder-text {
    color: black;
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 3%;
}


.subheading {
    color:rgb(13, 13, 177);
    font-style: italic;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.addButton {
    padding-left: 5%;
}

/* .carousel {
    text-align: center;
    margin-left: 10%;
    margin: 0%;
    height: 20px;
    width: 100%;
} */

.carousel .item {
    height: 5px;
  }
  
.item img {
      top: 0;
      left: 0;
      min-height: 2px;
  }


.table{
    margin-left: auto;
}


.formfields{
    padding-left: 15%;
    padding-right: 15%;
 
}

.enter {
    margin-left: 15%;
}

.card.custom-class {
    background-color: rgba(245, 245, 245, 0.7);
}

.list-group-item {
    background-color: rgba(245, 245, 245, 0.7);
}

.item-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.recipe-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 10px;
}

.logout {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5%;
    padding-bottom: 3%;
}

